
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Display Absenteeism</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Absenteeism Information for {{ patient.employee_name }}</h1>

  <div class="info_action">
    <a href="{% url 'add_absenteeism' patient.employee_id %}" class="green_link">Add</a>
    <a href="{% url 'display_absenteeism' patient.employee_id %}" class="green_link">View all</a>
    <a href="{% url 'display_patient' patient.employee_id %}" class="green_link">Patient</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Cause</th>
          <th>Beginning</th>
          <th>Reprise</th>
          <th>Days Off</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for absenteeism in absenteeisms %}
        <tr>
          <td>{{ absenteeism.type }}</td>
          <td>{{ absenteeism.cause }}</td>
          <td>{{ absenteeism.beginning }}</td>
          <td>{{ absenteeism.reprise }}</td>
          <td>{{ absenteeism.days_off }}</td>
          <td>
            <div>
              <a href="{% url 'download_absenteeism' absenteeism.id %}" class="delete-button">Download</a>
              <a href="{% url 'update_absenteeism' absenteeism.id %}" class="blue_link">Update</a>
              <a href="{% url 'delete_absenteeism' absenteeism.id %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No absenteeism records found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script></script>
</body>
</html>