
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Accident Information</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Accident Information for {{ patient.employee_name }}</h1>

  <div class="info_action">
    <a href="{% url 'add_accident' patient.employee_id %}" class="green_link">Add</a>
    <a href="{% url 'display_patient' patient.employee_id %}" class="green_link">Patient</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Causal Material Element</th>
          <th>Nature of Lesions</th>
          <th>Position</th>
          <th>Days Off</th>
          <th>Partial Permanent Incapacity</th>
          <th>Observation</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for accident in accidents %}
        <tr>
          <td>{{ accident.date }}</td>
          <td>{{ accident.material_causel }}</td>
          <td>{{ accident.lesions_nature }}</td>
          <td>{{ accident.position }}</td>
          <td>{{ accident.days_off }}</td>
          <td>{{ accident.partial_incapacity }}</td>
          <td>{{ accident.observation }}</td>
          <td>
            <div>
              <a href="{% url 'update_accident' accident.id %}" class="blue_link">Update</a>
              <a href="{% url 'delete_accident' accident.id %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No accidents found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
</body>
</html>