<!DOCTYPE html>
<html>
<head>
  <title>Add Medical Record</title>
  <link rel="stylesheet" href="static/css/medical_record.css">
</head>
<body>
  <h1>Add Medical Record for {{ patient.name }}</h1>
  <form method="post"  action="{% url 'add_medical_record' patient.employee_id %}"  >
    {% csrf_token %}

    <input type="hidden" name="patient" value="{{ patient.employee_id }}">
    <label for="symptoms">Symptoms:</label>

    <textarea name="symptoms" id="symptoms"></textarea>

    <label for="diagnosis">Diagnosis:</label>
    <textarea name="diagnosis" id="diagnosis"></textarea>

    <label for="date">Date:</label>
    <input type="date" name="date" id="date">

    <label for="treatment">Treatment:</label>
    <textarea name="treatment" id="treatment"></textarea>

    <label for="complaints">Complaints:</label>
    <textarea name="complaints" id="complaints"></textarea>

    <label for="constants">Constants:</label>
    <textarea name="constants" id="constants"></textarea>

    <label for="physical_examination">Physical Examination:</label>
    <textarea name="physical_examination" id="physical_examination"></textarea>

    <label for="observations">Observations:</label>
    <textarea name="observations" id="observations"></textarea>

    <label for="doctor">Doctor:</label>
    <select id="doctor"  name="doctor">
      {% for doctor in doctors %}
        <option value="{{doctor.doctor_id}}">{{doctor.name}}</option>
      {% endfor %}
    </select>






    <label for="price">Price:</label>
    <input type="number" name="price" id="price" >

    <input type="submit" value="Add Medical Record">
  </form>
</body>
</html>