
<!-- add_background_patient.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Add Medical visit</title>
  <link rel="stylesheet" href="static/css/background_patient.css">
</head>
<body>
  <h1>Add a medical visit for  {{ patient.name }}</h1>
  <form method="post" action="{% url 'add_medical_visit' patient.employee_id %}">
    {% csrf_token %}
    <input type="hidden" name="employee_id" value="{{ patient.employee_id }}">

    <!-- <label for="doctor">Patient : </label>
    <select id="doctor"  name="doctor">
      {% for doctor in doctors %}
        <option value="{{doctor.doctor_id}}">{{doctor.name}}</option>
      {% endfor %}
    </select> -->

    <label for="hospital_visit">hospital visit : </label>
    <input type="date" name="hospital_visit" id="hospital_visit">

    <label for="plaintes">plaintes : </label>
    <input type="date" name="plaintes" id="plaintes">

    <label for="mensuration_kg">Weights :</label>
    <input type="text" name="mensuration_kg" id="mensuration_kg">

    <label for="mensuration_size">Size : </label>
    <textarea name="mensuration_size" id="mensuration_size"></textarea>

    <label for="mensuration_TA">TA :</label>
    <textarea name="mensuration_TA" id="mensuration_TA"></textarea>

    <label for="mensuration_PIT">PIT :</label>
    <textarea name="mensuration_PIT" id="mensuration_PIT"></textarea>

    <label for="mensuration_PTE">PTE :</label>
    <input type="date" name="mensuration_PTE" id="mensuration_PTE">

    <label for="mensuration_PA">PA :</label>
    <input type="text" name="mensuration_PA" id="mensuration_PA">

    <label for="mensuration_Pouls">Pouls :</label>
    <textarea  name="mensuration_Pouls" id="mensuration_Pouls"></textarea>

    <input type="submit" value="Add Background Patient">
  </form>
</body>
</html>