<!DOCTYPE html>
<html>
<head>
  <title>Add Summons Form</title>
  <link rel="stylesheet" href="static/css/summons_form.css">
</head>
<body>
  <h1>Add Summons Form for {{ patient.name }}</h1>
  <form method="post" action="{% url 'add_summons_form' patient.employee_id %}">
    {% csrf_token %}

    <input type="hidden" name="employee_id" value="{{ patient.employee_id }}">

    <label for="motif">Motif:</label>
    <input type="text" name="motif" id="motif">

    <label for="date_of_issue">Date of Issue:</label>
    <input type="date" name="date_of_issue" id="date_of_issue">

    <label for="date_of_summons">Date of Summons:</label>
    <input type="date" name="date_of_summons" id="date_of_summons">

    <label for="date_de_presentation">Date of Presentation:</label>
    <input type="date" name="date_de_presentation" id="date_de_presentation">

    <label for="observation">Observation:</label>
    <input type="text" name="observation" id="observation">

    <input type="submit" value="Add Summons Form">
  </form>
</body>
</html>