<!DOCTYPE html>
<html>
<head>
  <title>Add Prescription</title>
  <link rel="stylesheet" href="static/css/add_prescription.css">
</head>
<body>
  <div class="add-prescription-container">
    <h1 class="add-prescription-title">Add Prescription</h1>

    <form method="POST" action="{% url 'add_prescription' record %}" class="add-prescription-form">
      {% csrf_token %}
      <input type="hidden" name="medical_record" value="{{ record }}">
   
    <label for="drug_name">drug_name:</label>
    <select id="drugs"  name="drug_name">
      {% for drug in drugs %}
        <option value="{{drug.name}}">{{drug.name}}</option>
      {% endfor %}
    </select>

    <input type="number" name="dosage">
    <label for="dosage">dosage:</label>

      <input type="submit" value="Add Prescription">
    </form>
  </div>
</body>
</html>