
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Appointment Information</title>
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Appointment Information for {{ patient.name }}</h1>

  <div class="info_action">
    <a href="{% url 'add_appointment' patient.employee_id %}" class="green_link">Add</a>
    <a href="{% url 'patient' patient.employee_id %}" class="green_link">Patient</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Doctor</th>
          <th>Appointment Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.appointment_date }}</td>
          <td>{{ appointment.doctor }}</td>
          <td>{{ appointment.appointment_time }}</td>
          <td>
            <div>
              <a href="{% url 'change_appointment' appointment.id %}">Update</a>
              <a href="{% url 'delete_appointment' appointment.id %}">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No appointments found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>