
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{{action}} Appointment</title>
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
  <div class="form-container">
    <h1>{{action}} Appointment information</h1>
    <form method="POST" action="{% url sbt value %}">
      {% csrf_token %}

      <label>Patient</label>
      <select name="patient">
        {% for patient in patients %}
          <option value="{{ patient.employee_id }}">{{ patient.employee_name }}</option>
        {% endfor %}
      </select>

      <label>Doctor</label>
      <select name="doctor">
        <!-- <option value=""></option> -->
        {% for doctor in doctors %}
          <option value="{{ doctor.doctor_id }}">{{ doctor.name }}</option>
        {% endfor %}
      </select>

      <label>Appointment Date</label>
      <input type="text" name="date" id="date" value="{{appointment.date}}"
      onblur="show_datetime(event)" onfocus="insert_datetime(event)">

      <label>Appointment Time</label>
      <input type="text" name="time" id="time" value="{{appointment.time}}"
      onblur="show_datetime(event)" onfocus="insert_datetime(event)">

      <button type="submit">Save</button>
    </form>
  </div>

  <script src="{% static 'js/functions.js'%}"></script>
</body>
</html>