<!-- <!DOCTYPE html>
<html>
<head>
  <title>Change Patient Information</title>
  <link rel="stylesheet" href="static/css/patient.css">
</head>
<body>
  <div class="patient-container">
    <h1 class="patient-title">Change Patient Information</h1>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save Changes">
    </form>
  </div>
</body>
</html> -->








<!DOCTYPE html>
<html>
<head>
  <title>change Patient</title>
  <link rel="stylesheet" href="static/css/add_patient.css">
  <style>
    .form-container {
      width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    h1 {
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 8px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="form-container">
    <h1>Change information</h1>
    <form method="POST" action="{% url 'change_patient' patient.employee_id %}" enctype="multipart/form-data">
      {% csrf_token %}
      <label>Employee picture</label>
      <img src="/static/img/{{patient.picture}}" id="picture" alt="" style="width: 130px; height:150px; border: 1px solid black">
      <input type="file" onchange="getfile(event)" name="picture">
      
      <label>Name</label>
      <input value="{{patient.name}}" type="text" id="name" name="name">

      <label>Date of Birth</label>
      <input value="{{patient.date_of_birth}}" id="date_of_birth" name="date_of_birth"
        type="text" onblur="show_date(event)" onfocus="insert_date(event)">

      <label>Place of Birth</label>
      <input value="{{patient.place_of_birth}}" type="text" id="place_of_birth" name="place_of_birth">

      <label>Nationality</label>
      <input value="{{patient.nationality}}" type="text" id="nationality" name="nationality">

      <label>Age</label>
      <input value="{{patient.age}}" type="number" id="age" name="age">

      <label for="gender">Gender</label>
      <select id="gender" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>

      <label>Phone Number</label>
      <input value="{{patient.phone_number}}" type="text" id="phone_number" name="phone_number">

      <label>Email</label>
      <input value="{{patient.email}}" type="email" id="email" name="email">

      <label>Address</label>
      <textarea id="address" name="address">{{patient.address}}</textarea>

      <label>Size</label>
      <input value="{{patient.size}}" type="text" id="size" name="size">

      <label>Blood Group</label>
      <input value="{{patient.blood_group}}" type="text" id="blood_group" name="blood_group">

      <label>Marital Status</label>
      <select id="gender" name="marital_status">
        <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Divorced">Divorced</option>
        <option value="Widow (sphinster)">Widow or sphinster</option>
      </select>

      <label>Number of Dependent Children</label>
      <input value="{{patient.num_dependent_children}}" type="number" id="num_dependent_children" name="num_dependent_children">

      <label for="affiliation_with_inss">Affiliation with INSS</label>
      <input value="{{patient.affiliation_with_inss}}" type="text" id="affiliation_with_inss" name="affiliation_with_inss">

      <label>Emergency Contact</label>
      <input value="{{patient.emergency_contact}}" type="text" id="emergency_contact" name="emergency_contact">

      <label>Hiring Date</label>
      <input value="{{patient.hiring_date}}" id="hiring_date" name="hiring_date"
        type="text" onblur="show_date(event)" onfocus="insert_date(event)">

      <label>Departure Date</label>
      <input value="{{patient.departure_date}}" id="departure_date" name="departure_date"
        type="text" onblur="show_date(event)" onfocus="insert_date(event)">

      <label>Reason for Leaving</label>
      <input value="{{patient.reason_for_leaving}}" type="text" id="reason_for_leaving" name="reason_for_leaving">

      <label>Qualification</label>
      <input value="{{patient.qualification}}" type="text" id="qualification" name="qualification">

      <button type="submit">Save</button>
    </form>
  </div>
  <script>
    function getfile(event) {
        var imageFile = event.target.files[0];
        var imagePreview = document.getElementById('picture');

        var reader = new FileReader();
        reader.onload = function(e) {
            imagePreview.src = e.target.result;
        };
        reader.readAsDataURL(imageFile);
    }   
    function show_date(event){
      var input = event.target.closest('input');
      input.type = 'text';
      var new_date = input.value;
      input.value = (new_date.trim() !== '') ? new_date : old_value;
    }
    function insert_date(event){
      var input = event.target.closest('input');
      old_value = input.value;
      input.type = 'date';
    }
  </script>
</body>
</html>