
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{{action}} current post</title>
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
  <div class="form-container">
    <h1>{{action}} current post information for {{ patient.employee_name }}</h1>
    <form method="POST" action="{% url sbt value %}">
      {% csrf_token %}
      <input type="hidden" name="employee_id" value="{{ patient.employee_id }}">

      <label>begin_date</label>
      <input type="text" name="begin_date" value="{{current_post.begin_date}}"
      onblur="show_datetime(event)" onfocus="insert_datetime(event)" id="date">

      <label for="end_date">end_date :</label>
      <input type="text" name="end_date" value="{{current_post.end_date}}"
      onblur="show_datetime(event)" onfocus="insert_datetime(event)" id="date">

      <label>Post</label>
      <input value="{{current_post.post}}" type="text" name="post">

      <label>Tasks</label>
      <textarea name="tasks">{{current_post.tasks}}</textarea>

      <label>Work rate</label>
      <textarea name="work_rate">{{current_post.work_rate}}</textarea>

      <label>Nusance factors</label>
      <textarea name="nusance_factors">{{current_post.nusance_factors}}</textarea>

      <label>Metrology Date</label>
      <input value="{{current_post.metrology_date}}" type="text" name="metrology_date"
      onblur="show_datetime(event)" onfocus="insert_datetime(event)" id="date">

      <label>Metrology type</label>
      <input value="{{current_post.metrology_type}}" type="text" name="metrology_type">

      <label>metrology R</label>
      <textarea  name="metrology_R">{{current_post.metrology_R}}</textarea>

      <button type="submit">Save</button>
    </form>
  </div>
  <script src="{% static 'js/functions.js'%}"></script>
</body>
</html>