
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Background Patient Information</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Current post for {{ patient.employee_name }}</h1>

  <div class="info_action">
    <a href="{% url 'add_current_post' patient.employee_id %}" class="green_link">Add</a>
    <a href="{% url 'display_patient' patient.employee_id %}" class="green_link" >Patient</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Begin date</th>
          <th>End date</th>
          <th>Post</th>
          <th>Tasks</th>
          <th>Work rate</th>
          <th>Nusance factors</th>
          <th>Metrology date</th>
          <th>Metrology type</th>
          <th>Metrology R</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>{{ post.begin_date }}</td>
          <td>{{ post.end_date }}</td>
          <td>{{ post.post }}</td>
          <td>{{ post.tasks }}</td>
          <td>{{ post.work_rate }}</td>
          <td>{{ post.nusance_factors }}</td>
          <td>{{ post.metrology_date }}</td>
          <td>{{ post.metrology_type }}</td>
          <td>{{ post.metrology_R }}</td>
          <td>
            <div>
              <a href="{% url 'download_current_post' post.id %}" class="green_link">Download</a>
              <a href="{% url 'update_current_post' post.id %}" class="blue_link">Update</a>
              <a href="{% url 'delete_current_post' post.id %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No current post information found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>
</html>