

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Drug</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>

<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="{% url 'display_appointment' 'all' %}">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Drug List</h1>

  <div class="info_action">
    <a href="{% url 'add_drug' 'Add' %}" class="green_link">Add</a>
    <form action="{% url 'display_drug' %}" style="display: flex; gap: 5px" method="POST">
      {% csrf_token %}
      <input type="name" name="drug_name">
      <input type="submit" value="Search">
    </form>
    <a href="{% url 'display_drug' %}" class="green_link">View all</a>
    <a href="{% url 'download_drug'%}" class="green_link">Download all</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Quantity</th>
          <th>Expiry Date</th>
          <th>Dosage Issued</th>
          <th>Price</th>
          <th>Price Per Drug</th>
          <th>Imported From</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for drug in drugs %}
        <tr>
          <td>{{ drug.name }}</td>
          <td>{{ drug.drug_type }}</td>
          <td>{{ drug.quantity }}</td>
          <td>{{ drug.expiry_date }}</td>
          <td>{{ drug.dosage_issued }}</td>
          <td>{{ drug.price }}</td>
          <td>{{ drug.price_per_drug }}</td>
          <td>{{ drug.imported_from }}</td>
          <td>
            <div>
              <a href="{% url 'update_drug' drug.id %}" class="blue_link">Update</a>
              <a href="{% url 'delete_drug' drug.id %}" class="red_link" >Delete</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>