{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Medical Record Information</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Medical Record Information for {{ patient.employee_name }}</h1>

  <div class="info_action">
    <a href="{%url 'add_medical_record' patient.employee_id %}" class="green_link">Add Record</a>
    <form method="post" action="{%url 'search_medical_record' patient.employee_id%}" style="display: flex; gap: 7px">
      {% csrf_token %}
      <input style="width: 150px;" name="begin_date" placeholder="Record begin date"
        onblur="this.type = 'text'" onfocus="this.type='date'">
      <input style="width: 150px;" name="end_date" placeholder="Record end date"
        onblur="this.type = 'text'" onfocus="this.type='date'">
      <input type="submit" value="Filter" class="filter-button">
    </form>
    <h2>Total price: {{ total_price }}Fbu</h2>
    <a href="{% url 'display_medical_record' patient.employee_id %}" class="green_link">All Records</a>
    <a href="{% url 'display_patient' patient.employee_id %}" class="green_link">Patient</a>
  </div>
  

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Diagnosis</th>
          <th>Treatment</th>
          <th>Doctor</th>
          <th>Price</th>
          <th>Complaints</th>
          <th>Constants</th>
          <th>Physical Examination</th>
          <th>Observations</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{ record.date }}</td>
          <td>{{ record.diagnosis }}</td>
          <td>{{ record.treatment }}</td>
          <td>{{ record.doctor.name }}</td>
          <td>{{ record.price }}</td>
          <td>{{ record.complaints }}</td>
          <td>{{ record.constants }}</td>
          <td>{{ record.physical_examination }}</td>
          <td>{{ record.observations }}</td>
          <td>
            <div>
              <a href="{% url 'download_medical_record' record.id %}" class="blue_link">Download</a>
              <a href="{% url 'display_prescription' record.id %}" class="blue_link">Prescription</a>
              <a href="{% url 'display_vaccination' record.id %}" class="blue_link">Vaccination</a>
              <a href="{% url 'update_medical_record' record.id %}" class="green_link">Update</a>
              <a href="{% url 'delete_medical_record' record.id %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No medical records found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>