
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Occupational Illness Information</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
  <style>
  </style>
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Occupational Illness Information for {{ patient.employee_name }}</h1>

  <div class="info_action">
    <a href="{% url 'add_occupational_illness' patient.employee_id %}" class="green_link">Add</a>
    <a href="{% url 'display_patient' patient.employee_id %}" class="green_link">Patient</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Tableau</th>
          <th>Causal Agent</th>
          <th>Job</th>
          <th>Decision</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for occupational_illness in occupational_illnesses %}
        <tr>
          <td>{{ occupational_illness.date }}</td>
          <td>{{ occupational_illness.table }}</td>
          <td>{{ occupational_illness.causal_agent }}</td>
          <td>{{ occupational_illness.job }}</td>
          <td>{{ occupational_illness.decision }}</td>
          <td>
            <div>
              <a href="{% url 'download_occupational_illness' occupational_illness.id %}" class="green_link">Download</a>
              <a href="{% url 'update_occupational_illness' occupational_illness.id %}" class="blue_link">Update</a>
              <a href="{% url 'delete_occupational_illness' occupational_illness.id %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No occupational illnesses found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>
</html>