
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Prescription Information</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="{% url 'display_appointment' 'all' %}">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Prescription Information</h1>

  <div class="info_action">
    <a href="{% url 'add_prescription' record %}" class="green_link">Add</a>
    <a href="{% url 'back_to_medical_record' record %}" class="green_link">Medical Record</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Drug Name</th>
          <th>Dosage</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for prescription in prescriptions %}
        <tr>
          <td>{{ prescription.drug_name.name }}</td>
          <td>{{ prescription.dosage }}</td>
          <td>
            <div>
              <a href="{% url 'download_prescription' prescription.pk %}" class="green_link">Download</a>
              <a href="{% url 'update_prescription' prescription.id %}" class="blue_link">Update</a>
              <a href="{% url 'delete_prescription' prescription.id %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2">No prescriptions found.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>