
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Previous Post</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Previous Post Information for {{ patient.employee_name }}</h1>

  <div class="info_action">
    <a href="{% url 'add_previous_post' patient.employee_id %}" class="green_link">Add</a>
    <a href="{% url 'display_patient' patient.employee_id %}" class="green_link">Patient</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Denomination</th>
          <th>Enterprise</th>
          <th>Period</th>
          <th>Nuisance Factors</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for previous_post in previous_posts %}
        <tr>
          <td>{{ previous_post.denomination }}</td>
          <td>{{ previous_post.enterprise }}</td>
          <td>{{ previous_post.period }}</td>
          <td>{{ previous_post.nuisance_factors }}</td>
          <td>
            <div>
              <a href="{% url 'update_previous_post' previous_post.id %}" class="blue_link">Update</a>
              <a href="{% url 'delete_previous_post' previous_post.id %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No previous posts found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>