


{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Display Schedule</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="{% url 'display_appointment' 'all' %}">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Doctor {{doctor.name}} Schedule</h1>

  <div class="info_action">
    <a href="{% url 'add_schedule' doctor.doctor_id %}" class="green_link">Add</a>
    <a href="{% url 'display_schedule' doctor.doctor_id %}" class="green_link">View all</a>
    <a href="{% url 'display_doctor' %}" class="green_link">Doctor</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Day</th>
          <th>From</th>
          <th>To</th>
          <th>Patients limit</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for schedule in schedules %}
        <tr>
          <td>{{ schedule.day }}</td>
          <td>{{ schedule.from_time }}</td>
          <td>{{ schedule.to_time }}</td>
          <td>{{ schedule.patient_limit }}</td>
          <td>
            <div>
              <a href="{% url 'update_schedule' schedule.id %}" class="blue_link">Update</a>
              <a href="{% url 'delete_schedule' schedule.id %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2">No schedule found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>