
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{{action}} Summons information</title>
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
  <div class="form-container">
    <h1>{{action}} Summons information for {{ patient.employee_name }}</h1>
    <form method="POST" action="{% url sbt value %}">
      {% csrf_token %}

      <input type="hidden" name="employee_id" value="{{ patient.employee_id }}">

      <label>Motif</label>
      <input type="text" name="motif" value="{{summons.motif}}">

      <label>Date of Issue</label>
      <input name="issue_date" id="date" value="{{summons.issue_date}}"
      type="text" onblur="show_datetime(event)" onfocus="insert_datetime(event)">

      <label>Date of Summons</label>
      <input name="summons_date" id="date" value="{{summons.summons_date}}"
      type="text" onblur="show_datetime(event)" onfocus="insert_datetime(event)">

      <label>Date of Presentation</label>
      <input name="presentation_date" id="date" value="{{summons.presentation_date}}"
      type="text" onblur="show_datetime(event)" onfocus="insert_datetime(event)">

      <label>Observation</label>
      <input type="text" name="observation" value="{{summons.observation}}">

      <button type="submit">Save</button>
    </form>
  </div>
  <script src="{% static 'js/functions.js'%}"></script>
</body>
</html>