
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{{action}} Vaccination</title>
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
  <div class="form-container">
    <h1>{{action}} Vaccination information</h1>
    <form method="POST" action="{% url sbt value %}">
      {% csrf_token %}
      
      <input type="hidden" name="medical_record" value="{{ record }}">
      
      <label>Date</label>
      <input type="text" name="date" value="{{vaccination.date}}"
      onblur="show_date(event)" onfocus="insert_date(event)">
      
      <label>Vaccine</label>
      <input type="text" name="vaccine" value="{{vaccination.vaccine}}">
      
      <label>Lot</label>
      <input type="text" name="lot" value="{{vaccination.lot}}">
      
      <label>Type</label>
      <input type="text" name="type" value="{{vaccination.type}}">
      
      <label>Dose</label>
      <input type="number" name="dose" value="{{vaccination.dose}}">
      
      <button type="submit">Save</button>
    </form>
  </div>
  <script src="{% static 'js/functions.js'%}"></script>
</body>
</html>