
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Vaccination Information</title>
  <link rel="stylesheet" href="{% static 'css/general_style.css' %}">
</head>
<body>
  <nav>
    <a href="{% url 'display_patient' 'all' %}">Patients</a>
    <a href="{% url 'display_appointment' 'all' %}">Appointment</a>
    <a href="{% url 'display_doctor' %}">Doctors</a>
    <a href="{% url 'display_drug' %}">Drugs</a>
    <a class="logout" href="{% url 'logout' %}">Logout</a>
  </nav>

  <h1 style="text-align: center;">Vaccination Information for {{patient.employee_name}}</h1>

  <div class="info_action">
      <a href="{% url 'add_vaccination' record %}" class="green_link">Add</a>
      <a href="{% url 'back_to_medical_record' record %}" class="green_link">Medical Record</a>
  </div>

  <div class="data_container">
    <table class="other_table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Vaccine</th>
          <th>Lot</th>
          <th>Type</th>
          <th>Dose</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for vaccination in vaccinations %}
        <tr>
          <td>{{ vaccination.date }}</td>
          <td>{{ vaccination.vaccine }}</td>
          <td>{{ vaccination.lot }}</td>
          <td>{{ vaccination.type }}</td>
          <td>{{ vaccination.dose }}</td>
          <td>
            <div>
              <a href="{% url 'download_vaccination' vaccination.pk %}" class="green_link">Download</a>
              <a href="{% url 'update_vaccination' vaccination.pk %}" class="blue_link">Update</a>
              <a href="{% url 'delete_vaccination' vaccination.pk %}" class="red_link">Delete</a>
            </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No vaccinations found.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
 
</body>
</html>